

.gallery {
	position: relative;
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 83px;
	--gallery-side-padding: calc(50vw - min(1680px, var(--global-viewport-content-responsive))/2);
	.scroll-container {
    overflow: scroll;

		position: relative;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    padding: 10px 0;
    margin: -10px 0;
	}

	.item-container {
    --gallery-column-gap: 20px;

    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: max-content;
    grid-auto-flow: column;
    grid-column-gap: var(--gallery-column-gap);
    column-gap: var(--gallery-column-gap);
    grid-row-gap: 0px;
    row-gap: 0px;
    width: -moz-fit-content;
    width: fit-content;
	}

	&.gallery-align-start{
		.scroll-container {
			scroll-padding: var(--gallery-side-padding);
		}
		.item-container {
			padding: 0 var(--gallery-side-padding);
		}
		.gallery-item {
			scroll-snap-align: start;
		}
	}

	.card-set {
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: max-content;
    grid-auto-flow: column;
    grid-column-gap: var(--gallery-column-gap);
    column-gap: var(--gallery-column-gap);
    grid-row-gap: 0px;
    row-gap: 0px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    list-style: none;
		.card-container {
			height: 100%;
		}
		.card{
			height: 100%;
			.card-modifier{
				background: #f5f5f7;
				border-radius: var(--global-card-corner-radius);
				box-sizing: border-box;
				clip-path: inset(1px 1px 1px 1px round var(--global-card-corner-radius));
				height: 100%;
				min-height: 560px;
				overflow: hidden;
				position: relative;
				will-change: transform;
				&.fixed-width {
					width: 372px;
				}
				&.theme-dark, .theme-dark .card .card-modifier{
					background: #242426;
				}
				&.card-padding {
					padding: var(--global-card-padding);
				}
			}
		}
	}

	.grid-item {
    position: relative;
    box-sizing: border-box;
	}

	.feature-card {
    transition: transform .3s cubic-bezier(0,0,0.5,1);
	}

	.card-viewport-content {
    height: 100%;
	}

	.feature-card-content{
		.feature-card-copy {
			position: relative;
			z-index: 2;
		}

		.feature-card-image-container{
			&.image-bottom-center {
				bottom: 0;
				left: 0;
				right: 0;
				// left: 50%;
				// transform: translateX(-50%);
			}
			position: absolute;
			margin: 0;
			.feature-card-image {
				position: relative;
				display: flex;
				width: 100%;
				source, img{
					width: 100%;
					cursor: pointer;
				}
			}
		}
	}
	
}

@media only screen and (min-width: 1441px) {
	.gallery .card-set .card .card-modifier {
			max-height:804px;
			min-height: 740px
	}
}

@media only screen and (max-width: 1068px) {
	.gallery .card-set .card .card-modifier {
			max-height:684px;
			min-height: 628px
	}
}

@media only screen and (max-width: 734px) {
	
	.gallery .card-set .card .card-modifier {
			max-height:630px;
			min-height: 480px
	}
}

@media only screen and (min-width: 1441px) {
	.card .card-modifier.fixed-width {
			width:405px
	}
}

@media only screen and (max-width: 1068px) {
	.card .card-modifier.fixed-width {
			width:344px
	}
}

@media only screen and (max-width: 734px) {
	.card .card-modifier.fixed-width {
			width:260px
	}
}


@media only screen and (max-width: 734px) {
	.gallery {
			padding-bottom:78px;
	}
}

@media only screen and (min-width: 1441px) {
	html .feature-card:hover {
			transform:scale(1.015)
	}
}

html .feature-card:hover {
	transform: scale(1.016)
}

@media only screen and (max-width: 1068px) {
	html .feature-card:hover {
			transform:scale(1.017)
	}
}

@media only screen and (max-width: 734px) {
	html .feature-card:hover {
			transform:scale(1.023)
	}
}


@media only screen and (max-width: 734px) {
	.feature-card .feature-card-copy {
			padding-bottom:356px;
	}
}

@media only screen and (min-width: 1441px) {
	.gallery .item-container {
			--gallery-column-gap:72px;
	}
}

@media only screen and (max-width: 1068px) {
	.gallery .item-container {
			--gallery-column-gap:72px;
	}
}

@media only screen and (max-width: 734px) {
	.gallery .item-container {
			--gallery-column-gap:45px;
	}
}

